.App {
  text-align: center;
}


.SubHeader {
  text-align: left;
}


.App-logo {
  pointer-events: none;
  height: 40vmin;
}


.App-li {
  list-style-type: none;
  margin-bottom: 5px;
}


.Button-margin {
  margin-left: 23px;
}


.App-history {
  text-decoration: none;
  background: none;
  color: purple;
  cursor: pointer;
  border: none;
  padding: 0;
}


.History-tip {
  font-style: italic;
  margin-left: 40px;
  color: gray;
}

.History-delete {
  background: none;
  margin-left: 5px;
  border: none;

}

.Footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}