.App {
  text-align: center;
}

.SubHeader {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-li {
  list-style-type: none;
  margin-bottom: 3px;
}


.Button-margin {
  margin-left: 3px;
}